@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--font-header);
  letter-spacing: 1.6px;
}

div,
p,
span {
  font-family: var(--font-body);
  letter-spacing: 1px;
}


.shimmer {
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shimmer {
  0% {
    opacity: 50%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 50%;
  }
}

@layer utilities {
  .btn {
    &-sm {
      @apply px-4 py-2 rounded-md text-xs;

      & .icon {
        @apply w-4 h-4;
      }
    }

    &-md {
      @apply px-5 py-3 rounded-lg text-sm;

      & .icon {
        @apply w-5 h-5;
      }
    }

    &-lg {
      @apply px-6 py-4 rounded-xl;

      & .icon {
        @apply w-6 h-6;
      }
    }
  }
}